<div class="container page_box option_div">
  <center>Leave a Review</center>
</div>
<div class="container page_box">
  <%= form_for [@restaurant, @review] do |f| %>
    <center>
      <br><%= f.label :thoughts %><br>
      <%= f.text_area :thoughts %><br>
      <%= f.label :rating %><br>
      <%= f.select :rating, (1..5) %><br><br>
      <%= f.submit 'Leave Review' %><br><br>
    </center>
  <% end %>
</div>
