<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2> <%= restaurant.name %> </h2>
    <h3>Average rating: <%= restaurant.average_rating.to_i %></h3>
    <%= link_to restaurant.name, restaurant_path(restaurant) %><br>

    <% if user_signed_in? %>
      <% if current_user.id == restaurant.user_id %>
        <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %><br>
        <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %><br>
      <% end %>
      <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %><br>
    <% end %>

    <% @reviews = reviews_for_restaurant(restaurant.id) %>
    <% if @reviews.any? %>
      <br>Reviews<br>
      <% @reviews.each do |review| %>
        Thoughts: <%= review.thoughts %><br>
        Rating: <%= review.rating %><br>
      <% end %>
    <% end %>

  <% end %>
<% else %>
  No restaurants yet
<% end %>

<br><br><a href='/restaurants/new'>Add a restaurant</a>
