<% if @restaurants.any? %>
  <div class="container page_box">
    <div class="inner option_div">
      <center>Restaurants</center>
    </div>
  </div>
  <% @restaurants.each do |restaurant| %>
    <div class="container page_box">
      <div class="inner">
        <h2><%=link_to image_tag(restaurant.image.url(:thumb)), restaurant.image.url(:original), :popup=>['original_image', 'height=700,width=900'] %> <%= restaurant.name %> </h2>
        <h3>Average rating: <%= star_rating(restaurant.average_rating) %></h3>
        <%= link_to restaurant.name, restaurant_path(restaurant) %><br>

        <% if user_signed_in? %>
          <% if current_user.id == restaurant.user_id %>
            <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %><br>
            <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %><br>
          <% end %>
          <%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %><br>
        <% end %>

        <% @reviews = reviews_for_restaurant(restaurant.id) %>
        <% if @reviews.any? %>
          <br>Reviews<br>
          <% @reviews.each do |review| %>
            <li>
              Thoughts: <%= review.thoughts %> Rating: <%= star_rating(review.rating) %> -
              <% if user_signed_in? %><%= link_to "Endorse", review_endorsements_path(review), class: 'endorsements-link' %> -<%end%>
              <span class="endorsements_count"> <%= review.endorsements.count %> </span> <%= 'endorsement'.pluralize(review.endorsements.count) %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="inner option_div">
      No restaurants yet
    </div>
<% end %>
<br>
